@import "_variables";
@import "_typography";
@import "_colors";


.card {
    border-radius: $border-radius-md;
    padding: $spacing-xxxs;
    margin: $spacing-nano;
    border: none;

    &.shadow-1{
        box-shadow: $shadow-level-1;
    }
    &.shadow-2{
        box-shadow: $shadow-level-2;
    }
    &.shadow-3{
        box-shadow: $shadow-level-3;
    }
    &.shadow-4{
        box-shadow: $shadow-level-4;
    }
}