<navbar class="navbar-aside">
    <ul>
        <li class="navbar-aside_item">
            <a href="./typography">Typography</a>
        </li>
        <li class="navbar-aside_item">
            <a href="./buttons">Buttons</a>
        </li>
        <li class="navbar-aside_item">
            <a href="./pills">Pills</a>
        </li>
        <li class="navbar-aside_item">
            <a href="./cards">Cards</a>
        </li>
        <li class="navbar-aside_item">
            <a href="./tabs">Tabs</a>
        </li>
        <li class="navbar-aside_item">
            <a href="./steps">Steps</a>
        </li>
    </ul>
</navbar>