<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Design System - Vitat</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Livvic:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../../css/prism.css" />
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="bar__ul">
            <li class="bar__li">
              <a class="bar__a" href="./Buttons.html">Botões</a>
            </li>
            <li class="bar__li">
              <a class="bar__a" href="./Inputs.html">inputs</a>
            </li>
            <li class="bar__li">
              <a class="bar__a" href="./Pills.html">Pills</a>
            </li>
            <li class="bar__li">
              <a class="bar__a" href="./Card.html">Cards</a>
            </li>
            <li class="bar__li">
              <a class="bar__a" href="./Pagination.html">Pagination</a>
            </li>
            <li class="bar__li">
              <a class="bar__a" href="./Revisado.html">Revisado Por</a>
            </li>
            <li class="bar__li">
              <a class="bar__a" href="./CardApp.html">Card App</a>
            </li>
            <li class="bar__li">
              <a class="bar__a" href="./Arabescos.html">Arabescos</a>
            </li>
            <li class="bar__li">
              <a class="bar__a" href="./Lista.html">Lista</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="modalQrCode"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content cardapp__modal">
          <div class="modal-header cardapp-modal-header">
            <button
              type="button"
              class="btn-close btn-close-modal"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <h3 class="heading__4 modal-heading">
              Para baixar o app é só usar o QR code abaixo:
            </h3>
            <img
              src="/img/qr-code-loja.png"
              alt="QrCode"
              height="134"
              width="134"
            />
            <p class="body__2 modal-footer-text">
              Aponte a câmera do seu celular para o QR code, ou espere o celular
              escanear.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row my-5 cardapp-bg">
        <div class="col-lg-6 col-md-12 my-4">
          <div class="cardes">
            <div class="cardapp">
              <div class="cardapp__content row col-lg-12">
                <div class="cardapp__imgbox col-lg-2">
                  <img
                    class="cardapp__img"
                    src="/img/phone.png"
                    alt="icone celular"
                  />
                </div>
                <div class="cardapp__wrapper row col-lg-10">
                  <h3 class="cardapp__title heading__4">App Vitat</h3>
                  <p class="cardapp__text body body__1">
                    Tenha um acesso mais facilitado para a sua Saúde e
                    Bem-Estar. Com apenas um clique, agende exames, faça
                    consultas online e tenha acesso a programas gratuitos de
                    autocuidado, tudo isso é muito mais.
                  </p>
                </div>
                <div class="col-lg-12 center">
                  <button
                    type="button"
                    class="cardapp__btn cardapp__link desktop"
                    data-bs-toggle="modal"
                    data-bs-target="#modalQrCode"
                  >
                    Baixe o nosso app
                  </button>
                  <a
                    class="cardapp__link mobile"
                    href="https://vitat.onelink.me/3u6i"
                    >Baixe o nosso app</a
                  >
                </div>
              </div>
            </div>
            <pre class="line-numbers mt-4">
           <code class="language-markup">
           </code>
          </pre>
          </div>
        </div>

        <div class="col-lg-6 col-md-12 my-4">
          <div class="cardes">
            <div class="cardapp">
              <div class="cardapp__content row col-lg-12">
                <div class="cardapp__imgbox col-lg-2">
                  <img
                    class="cardapp__img"
                    src="/img/store_icon.png"
                    alt="icone loja"
                  />
                </div>
                <div class="cardapp__wrapper row col-lg-10">
                  <h3 class="cardapp__title heading__4">
                    Espaços Saúde & Bem-Estar
                  </h3>
                  <p class="cardapp__text body body__1">
                    Buscando trazer mais rápido e menos burocrático, criamos
                    nossos espaços físicos, onde você pode realizar serviços
                    farmacêuticos, testes rápidos e tomar vacinas, com condições
                    e preços acessíveis.
                  </p>
                </div>

                <div class="col-lg-12">
                  <a
                    class="cardapp__link"
                    href="https://vitat.com.br/servicos/espaco-vitat"
                    >Conheça nossos serviços</a
                  >
                </div>
              </div>
            </div>
            <pre class="line-numbers mt-4">
          <code class="language-markup">

          </code>
          </pre>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="../../JS/prism.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"
  ></script>
  <script>
    let cards = document.querySelectorAll(".cardes");
    cards.forEach((card) => {
      contentHTML = card.querySelector(".language-markup");
      let content = card.children[0].outerHTML;
      let newContent = content.replaceAll(/</g, "&lt;");
      let finalContent = newContent.replaceAll(/>/g, "&gt;");
      contentHTML.innerHTML = finalContent;
    });
    Prism.plugins.NormalizeWhitespace.setDefaults({
      "remove-trailing": true,
      "remove-indent": true,
      "left-trim": true,
      "right-trim": true,
    });
  </script>
</html>
