<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Design System - Vitat</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Livvic:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../../css/prism.css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="bar__ul">
            <li class="bar__li">
              <a class="bar__a" href="./Buttons.html">Botões</a>
            </li>
            <li class="bar__li">
              <a class="bar__a" href="./Inputs.html">inputs</a>
            </li>
            <li class="bar__li">
              <a class="bar__a" href="./Pills.html">Pills</a>
            </li>
            <li class="bar__li">
              <a class="bar__a" href="./Card.html">Cards</a>
            </li>
            <li class="bar__li">
              <a class="bar__a" href="./Pagination.html">Pagination</a>
            </li>
            <li class="bar__li">
              <a class="bar__a" href="./Revisado.html">Revisado Por</a>
            </li>
            <li class="bar__li">
              <a class="bar__a" href="./CardApp.html">Card App</a>
            </li>
            <li class="bar__li">
              <a class="bar__a" href="./Arabescos.html">Arabescos</a>
            </li>
            <li class="bar__li">
              <a class="bar__a" href="./Lista.html">Lista</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row my-5">
        <div class="col-lg-4 my-4">
          <div class="cardes">
            <div class="revisado">
              <a href="#" class="revisado__ancora">
                <div class="revisado__wrapper">
                  <img
                    class="revisado__img"
                    src="/img/placeholder_avatar.png"
                    alt="avatar_especialista"
                  />

                  <div class="revisado__text">
                    <p class="pillText">Revisado por</p>
                    <p class="body body__1 body__1--bold">Simone Dias</p>
                    <p class="overline">NUTRICIONISTA . CRN3 59579</p>
                  </div>
                </div>
              </a>
            </div>

            <pre class="line-numbers mt-4">
          <code class="language-markup">

          </code>
      </pre>
          </div>
        </div>
        <div class="col-lg-4 my-4">
          <div class="cardes">
            <div class="revisado">
              <a href="#" class="revisado__ancora">
                <div class="revisado__wrapper">
                  <img
                    class="revisado__img"
                    src="/img/placeholder_avatar.png"
                    alt="avatar_especialista"
                  />

                  <div class="revisado__text">
                    <p class="body body__1 body__1--bold">
                      Escrito por Simone Dias
                    </p>
                    <h3 class="body body__2">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore
                      magna...
                    </h3>
                  </div>
                </div>
              </a>
            </div>

            <pre class="line-numbers mt-4">
            <code class="language-markup">

            </code>
        </pre>
          </div>
        </div>
        <div class="col-lg-4 my-4">
          <div class="cardes">
            <div class="revisado">
              <a href="#" class="revisado__ancora">
                <div class="revisado__wrapper">
                  <img
                    class="revisado__img"
                    src="/img/placeholder_avatar.png"
                    alt="avatar_especialista"
                  />

                  <div class="revisado__text">
                    <p class="body body__1 body__1--bold">Simone Dias</p>
                    <p class="overline">NUTRICIONISTA . CRN3 59579</p>
                    <h3 class="body body__2">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore
                      magna...
                    </h3>
                  </div>
                </div>
              </a>
            </div>

            <pre class="line-numbers mt-4">
              <code class="language-markup">

              </code>
          </pre>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="../../JS/prism.js"></script>
  <script>
    let cards = document.querySelectorAll(".cardes");
    cards.forEach((card) => {
      contentHTML = card.querySelector(".language-markup");
      let content = card.children[0].outerHTML;
      let newContent = content.replaceAll(/</g, "&lt;");
      let finalContent = newContent.replaceAll(/>/g, "&gt;");
      contentHTML.innerHTML = finalContent;
    });
    Prism.plugins.NormalizeWhitespace.setDefaults({
      "remove-trailing": true,
      "remove-indent": true,
      "left-trim": true,
      "right-trim": true,
    });
  </script>
</html>
