@import "_variables.scss";
@import "../_typography";

.btn__tertiary{
  @extend .btn;
  color:$neutral-color-low-dark;
  background:$neutral-color-high-light;
  &:hover{
    background:$neutral-color-high-medium;
  }
}
